<%= form_with(model: content, data: { controller: 'validation' }) do |form| %>
  <div class="row">
    <div class="form-group col-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <% if params[:action] == 'new' %>
      <div class="form-group col-5">
        <%= form.label :file, 'Choose File' %>
        <%= form.file_field :file, label: 'Report', class: 'form-control', accept: Content.mime_types, direct_upload: true, data: { controller: 'direct-uploader' } %>
        <small class="form-text text-muted"></small>
      </div>
    <% else %>
      <div class="form-group col-5">
        <%= form.label :file, 'File' %>
        <input type='text' class='form-control' disabled='true' value='<%= content.file.filename %>'>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="form-group col-10">
      <%= form.label :tag_list %>
      <%= form.text_field :tag_list, class: 'form-control', value: content.tag_list.join(',') %>
    </div>
  </div>

  <div class="card-footer pl-0">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
