<div class="modal fade" id="bindUrlModal" tabindex="-1" aria-labelledby="bindUrlModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bindUrlModalLabel">
          Set URL to
          <code id='token-title-url-modal'></code>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(:url_hotspot, url: attach_url_hotspot_tokens_path) do |form| %>
        <div class="modal-body">
          <%= form.hidden_field :token_id, class: 'form-control' %>
          <%= form.hidden_field :event_id, class: 'form-control', value: event.id %>

          <div class="row">
            <div class="col-6 form-group">
              <%= form.label :label %>
              <%= form.text_field :label, class: 'form-control' %>
            </div>

            <div class="col-6 form-group">
              <%= form.label :url, 'URL' %>
              <%= form.text_field :url, class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="col-6 form-group">
              <%= form.label :type %>
              <%= form.collection_select :type, [['redirect', 'Redirect'], ['new_page', 'New Page']], :first, :last, {}, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit 'Set URL', class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
