<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <ul class="sidebar-menu" data-controller="sidebar">
      <% if current_user.admin? %>
        <li class="menu-header">Admin</li>
        <li>
          <%= link_to admin_root_path, class: "nav-link" do %>
            <i class="fas fa-tools"></i> <span>Admin</span>
          <% end %>
        </li>
      <% end %>

      <li class="menu-header">Manage</li>
      <li class='<%= active_nav_item('events') %>'>
        <%= link_to events_path, class: 'nav-link' do %>
        <i class='fas fa-mountain'></i><span>Events</span>
        <% end %>
      </li>

      <li class='<%= active_nav_item('contents') %>'>
        <%= link_to contents_path, class: 'nav-link' do %>
        <i class='fas fa-truck-moving'></i><span>Content Library</span>
        <% end %>
      </li>
      <%#= render 'shared/sidebar_dropdown', title: 'Resources', icon: 'fas fa-file-alt' do %>
      <!--
        <li class="<#= active_nav_item('customers', crud_actions) #>">
          <#= link_to 'Customers', customers_path, class: 'nav-link' #>
        </li>
      -->
      <%# end %>
    </ul>
  </aside>
</div>
