<div class="row">
  <div class="col-9">
    <div class="card card-highlight-info">
      <div class="card-body">
        <%= form_for ([event, Attendee.new]) do |f| %>
          <div class="row">
            <div class="col-9">
              <div class="form-group">
                <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <div class="form-group">
                <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-9">
              <div class="form-group">
                <%= f.text_field :password, placeholder: 'Password', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="float-right">
            <%= f.submit 'ADD', class: 'btn btn-info', style: 'width: 120px;' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card card-highlight-info">
      <div class="table-responsive">
        <table class="table table-striped table-md">
          <tbody>
            <% @attendees.each do |a| %>
              <tr>
                <td><%= a.email %></td>
                <td><%= a.name %></td>
                <td>
                  <%= link_to icon('fas fa-trash'), event_attendee_path(event, a), title: 'Destroy it', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: false } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <%= simple_form_for(:upload, url: upload_attendees_event_path(id: event.id)) do |f| %>
      <div class="row">
        <div class="col-4">
          <div class="custom-file">
            <%= f.file_field :file, label: 'Report', class: 'custom-file-input form-control-md', id: 'upload-attendees-select', accept: '.csv' %>
            <%= f.label :file, 'Choose file', class: 'custom-file-label', id:  'upload-attendees-label' %>
          </div>
        </div>
        <button id='upload-attendees-btn' class='btn btn-light' disabled='true' title='Upload'>
          <i class="fas fa-upload"></i>
        </button>
      </div>
    <% end %>

    <% if session[:attendees_report] %>
      <div>
        <code>
          <%= session[:attendees_report] %>
        </code>
      </div>
    <% end %>
  </div>
</div>
