<tr>
  <td><%= token.name %></td>
  <td><%= token.token %></td>
  <td>
    <%= link_to '#', class: 'edit-label-link', data: { toggle: 'modal', target: '#editLabelModal', label: hotspot&.label&.text, id: hotspot&.label&.id } do %>
      <%= hotspot&.label&.text %>
      <span class='fas fa-edit'></span>
    <% end %>
  </td>

  <% if hotspot&.display? && hotspot&.content %>
    <td>File</td>
    <td>
      <%= hotspot&.content&.file&.filename %>
      <%= link_to edit_content_path(hotspot.content), target: '_blank' do %>
        <i class='fas fa-edit'></i>
      <% end %>

    </td>
    <td>
      <% hotspot&.content&.tags&.each do |tag| %>
        <span class="badge badge-light"><%= tag %></span>
      <% end %>
    </td>
  <% else %>
    <td><%= hotspot&.type&.humanize %></td>
    <td>
      <%= link_to hotspot.destination_url, hotspot.destination_url, target: '_blank' %>
    </td>
    <td></td>
  <% end %>

  <td>
    <%= link_to icon('fas fa-trash'), hotspot_path(hotspot), title: 'Unset hotspot', class: 'btn btn-icon btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?', remote: true } %>
  </td>
</tr>
