<div class="mt-4">
  <h4>Navigation</h4>
  <div class="table-responsive">
    <table class="table table-striped table-md">
      <thead>
        <tr>
          <th>Name</th>
          <th>Token</th>
          <th>Label</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% ordered_rooms = Room.order(:name) %>
        <% tokens&.each do |token| %>
          <tr>
            <td><%= token.name %></td>
            <td><%= token.token %></td>
            <td>
              <% if (label = token.label(event_id: event.id)) %>
                <%= link_to '#', class: 'edit-label-link', data: { toggle: 'modal', target: '#editLabelModal', label: label.text, id: label.id } do %>
                  <%= label.text %>
                  <span class='fas fa-edit'></span>
                <% end %>
              <% end %>
            </td>

            <% hotspot = token.hotspot(event_id: event.id) %>

            <td>
              <%= select_tag(:room, options_from_collection_for_select(ordered_rooms, :id, :name, Room.find_by(path: hotspot&.destination_url)&.id), class: 'form-control navigation-selectbox', include_blank: true, data: { token: token.id, event: event.id }) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
