<ul class="nav nav-pills" role="tablist">
  <% rooms.each_with_index do |room, i| %>
    <li class="nav-item">
      <%= link_to room.name, "#room#{i}", class: "nav-link #{'active' if i.zero?}", role: 'tab', aria: { controls: "room#{i}", selected: i.zero? }, data: { toggle: 'tab' } %>
    </li>
  <% end %>
</ul>
<div class="tab-content" id="myTabContent2">
  <% rooms.each_with_index do |room, i| %>
    <div class="tab-pane fade show <%= 'active' if i.zero? %>" id='<%= "room#{i}" %>' role="tabpanel" aria-labelledby="home-tab3">
      <% if room.appearance.attached? %>
        <div class="d-flex justify-content-center">
          <iframe src="<%= url_for(room.appearance) %>" class='room-appearance'></iframe>
        </div>
      <% end %>
      <h4>Hotspots</h4>
      <%= render 'hotspots', tokens: room.tokens.content, room: room, event: event %>

      <h4 class='mt-4'>Labels</h4>
      <%= render 'labels', tokens: room.tokens.label, room: room, event: event %>
    </div>
  <% end %>
</div>
